.App {
  text-align: center;
  background-color: #383E4E;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

/* links */

a {
  color: #0ce3ac;
  text-decoration: none;
}

a:hover {
  transition: all 0.35s ease 0s;
  color: red;
}

/* input */

input {
  padding: 10px 15px;
  color: #464545;
  border-radius: 4px;
  outline: 0.1px dashed #383E4E;
}


/* botões */

.big-btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 150%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  background-color: #222;
  padding: 10px 15px;
  
}

.big-btn:active {
  transition: all 0.15s ease 0s;
}

/* posicionamento */

.main {
  display: flex;
  /* background-color: honeydew; */
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
}

.alternatives {
  display: flex;
  flex-direction: column;
}

.question-timer {
  border-radius: 5px;
  padding: 5%;
  overflow-wrap: break-word;
  width: 300px;
}

/* header */

.header {
  background-color: #262a35;
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.avt-img {
  position: relative;
  left: 0;
}

/* botões de alternativas de resposta */
.ans-btn {
  display:inline-block;
  padding: 1em 5em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  border: 1px solid black;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  font-weight: 400;
  color:#000000;
  background-color:#33ff99;
  box-shadow:  inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align: center;
  position: relative;
}

.ans-btn:active{
  top:0.2em;
}

.ans-btn:focus{
  background-color:#33ff9971;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
